body {
  font-family: "Maven Pro", sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}

.contact-form,
.honeycomb,
.about {
  display: flex;
  //   max-width: 1200px;
  margin: 0px auto;
  padding: 0;
  align-items: center;
}

.about-wrapper,
.box-wrapper {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

nav {
  background-color: #323232;

  .menu-container {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .menu-link {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
    display: inline-flex;
    margin-top: 20px;
    opacity: 1;
    transition: 0.3s;
  }

  .menu-link:hover {
    opacity: 0.6;
  }

  /* ----nav logo ------------------------*/
  .img-on-img {
    position: relative;
  }
  .logo1 {
    position: relative;
    margin-bottom: -30px;
    margin-top: -90px;
  }
  .logo {
    vertical-align: middle;
    position: absolute;
    top: 30px;
    left: 57px;
  }
}

a:link {
  color: #ffffff;
}

a:active {
  color: #2eb398;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----- Section: honeycomb ------- */

.honeycomb {
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  transform: translateY(50px);
  padding-bottom: 180px;
}

.honeycomb-cell {
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.honeycomb-cell_title {
  height: 100%;
  display: flex;
  /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
  flex-direction: column;
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.75em;
  transition: opacity 350ms;
}
.honeycomb-cell_title > small {
  margin-top: 0.25em;
}
.honeycomb-cell_image {
  object-fit: cover;
  object-position: center;
  /* filter: grayscale(100%); */
}

.honeycomb-cell::before,
.honeycomb-cell::after {
  content: "";
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  /* display: block; */
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.honeycomb-cell::before {
  background: #fff;
  transform: scale(1.055);
}
.honeycomb-cell::after {
  background: #bba4a4;
  opacity: 0.7;
  transition: opacity 350ms;
}
.honeycomb-cell:hover .honeycomb-cell_title {
  opacity: 0;
}
.honeycomb-cell:hover .honeycomb-cell_image {
  filter: grayscale(0%);
}

.honeycomb-cell:hover::after {
  opacity: 0;
}
.honeycomb_placeholder {
  display: none;
  opacity: 0;
  width: 250px;
  margin: 0 12.5px;
}

/* -------------- SECTION: ABOUT ---------------*/

.about {
  justify-content: space-between;
  background-color: #2eb398;

  .about-wrapper {
    display: grid;
    grid-template-areas: "hexa txt";
    /* justify-content: space-around; */
    margin-top: 50px;
    margin-bottom: 60px;
    // border-left: 3px solid #219d84;
  }

  .text-about {
    grid-area: txt;
    max-width: 100%;
    padding: 30px;
    align-self: center;
  }
  .name {
    font-size: 30px;
    color: #d7fcf5;
  }

  .position {
    font-size: 20px;
    color: #20816d;
  }
  p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
    color: #d7fcf5;
  }

  .media-icons {
    float: right;
  }

  .media-img {
    width: 40px;
  }

  /* ------------SECTION ABOUT: hexagon photo style ----------------*/

  .hex-wrapper {
    padding-top: 30px;
  }

  .hexagon {
    position: relative;
    width: 250px;
    height: 144.34px;
    margin: 72.17px 0;
    background-image: url(/img/about.png);
    background-size: auto 288px;
    background-position: center;
    grid-area: hexa;
    margin-left: 30px;
  }

  .hexTop,
  .hexBottom {
    position: absolute;
    z-index: 1;
    width: 176.78px;
    height: 176.78px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 36.61px;
  }

  /*counter transform the bg image on the caps*/
  .hexTop:after,
  .hexBottom:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 144.33756729740645px;
    transform: rotate(45deg) scaleY(1.7321) translateY(-72.1688px);
    transform-origin: 0 0;
    background: inherit;
  }

  .hexTop {
    top: -88.3883px;
  }

  .hexTop:after {
    background-position: center top;
  }

  .hexBottom {
    bottom: -88.3883px;
  }

  .hexBottom:after {
    background-position: center bottom;
  }

  .hexagon:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 250px;
    height: 144.3376px;
    z-index: 2;
    background: inherit;
  }
}

/* ---------------SECTION: Contact form ----------------------------*/

.contact-form {
  background-color: #323232;
  color: white;
  justify-content: space-between;
  color: #bebebe;
  font-family: "Lato", sans-serif;

  .box-wrapper {
    display: grid;
    grid-template-areas:
      "title title title"
      "form form cont";
    padding-left: 30px;
    margin-bottom: 40px;
  }

  .title-wrapper {
    grid-area: title;
    margin-top: 50px;
    padding-bottom: 20px;
  }
  .form-wrapper {
    grid-area: form;
    padding-right: 5px;
    padding-bottom: 40px;

    form {
      max-width: 100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      margin: 5px 0 10px 0;
      padding: 10px;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      box-sizing: border-box;
      resize: vertical;
      background-color: #454545;
      font-family: "Lato", sans-serif;
    }

    button {
      float: right;
      background-color: #2eb398;
      color: #d7fcf5;
      padding: 15px 30px;
      text-transform: uppercase;
      cursor: pointer;
      border: none;
    }
  }

  .contact-wrapper {
    grid-area: cont;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 12px;
    text-align: justify;

    ul {
      list-style-type: none;
      margin-top: 30px;
      display: block;
      text-align: center;
    }
  }
}

/* ----------------@@@------------------ */

@media (max-width: 550px) {
  .contact-form .box-wrapper {
    padding-left: 0px;
  }
  .honeycomb-cell {
    margin: 81.25px 25px;
  }
  .img-on-img {
    display: none;
  }
  .about .about-wrapper {
    display: grid;
    grid-template-areas:
      "hexa"
      "txt";
    // text-align: -webkit-center;
  }

  .honeycomb-cell:nth-child(1),
  .honeycomb-cell:nth-child(4),
  .honeycomb-cell:nth-child(5),
  .honeycomb-cell:nth-child(7),
  .honeycomb-cell:nth-child(8),
  .honeycomb-cell:nth-child(11) {
    display: none;
  }
  nav .menu-container:nth-child(4) {
    padding-right: 0;
  }
}
@media (min-width: 550px) and (max-width: 825px) {
  .contact-form .box-wrapper {
    padding-left: 0px;
  }
  .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 125px);
    margin-left: calc(50% - 125px);
  }

  .honeycomb_placeholder:nth-child(3n + 5) {
    display: block;
  }
}

@media (max-width: 825px) {
  .contact-form .box-wrapper {
    display: grid;
    grid-template-areas:
      "title"
      "form"
      "cont";
    .title-wrapper,
    .form-wrapper {
      padding: 0;
    }
    form,
    .contact-wrapper,
    .title-wrapper {
      padding: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 825px) and (max-width: 1100px) {
  .honeycomb-cell:nth-child(5n + 4) {
    margin-left: calc(50% - 275px);
  }

  .honeycomb-cell:nth-child(5n + 5) {
    margin-right: calc(50% - 275px);
  }

  .honeycomb_placeholder:nth-child(5n),
  .honeycomb_placeholder:nth-child(5n + 3) {
    display: block;
  }
}
@media (min-width: 1100px) {
  .honeycomb-cell:nth-child(7n + 5) {
    margin-left: calc(50% - 400px);
  }

  .honeycomb-cell:nth-child(7n + 7),
  .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
    margin-right: calc(50% - 400px);
  }

  .honeycomb_placeholder:nth-child(7n + 7),
  .honeycomb_placeholder:nth-child(7n + 9),
  .honeycomb_placeholder:nth-child(7n + 11) {
    display: block;
  }
}
